.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px 30px;
   color: white;
}
.nav-logo{
   font-family: Outfit;
   font-size: 40px;
   font-weight: 500;
}
.nav-menu{
   display: flex;
   list-style-type: none;
   align-items: center;
   font-size: 18px;
   gap: 5vw;
}
.nav-menu a{
   color: #262626;
   text-decoration: none;
}
.nav-contact{
   border-radius: 50px;
   padding: 10px 38px;
   background: #fff;
   color: #262626;
   cursor: pointer;
}
.nav-contact:hover{
   background: #ffffffc6;
   transition: all 0.3s ease-in-out;
}
@media only screen and (max-width:900px){
   .nav{
      margin: 20px 15px;
   }
   .nav-menu li{
      display: none;

   }
   #nav-c{
      display: block;
   }
   .nav-logo{
      font-size: 20px;
   }
   .nav-contact{
      padding: 5px 12px;
      font-size: 14px;
   }
}